<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horse Form</title>
</head>
<body>
    {% extends "base_bootstrap.html" %}

    {% block content %}
        <h1>Delete Horse</h1>
        <p>Are you sure you want to delete the horse:: {{ horse }}?</p>
    
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Yes, delete.">
            <input type="submit" onclick="window.location='{% url 'horses:all' %}' ; return false;" value="Cancel">
        </form>
    {% endblock %}
</body>
</html>